AnchorPane {
    -fx-background-color: #000000;
}

Button {
    -fx-background-color: #000000;
    -fx-text-fill: #fff;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-border-color: #fff;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-padding: 10px;
}

Button:hover {
    -fx-background-color: #fff;
    -fx-text-fill: #000000;
}

Label {
    -fx-text-fill: #fff;
    -fx-font-size: 10px;
    -fx-font-weight: bold;
}

TextField {
    -fx-background-color: #000000;
    -fx-text-fill: #fff;
    -fx-font-size: 10px;
    -fx-font-weight: bold;
    -fx-border-color: #fff;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-padding: 5px;
}

ComboBox {
    -fx-background-color: #000000;
    -fx-text-fill: #fff;
    -fx-font-size: 10px;
    -fx-font-weight: bold;
    -fx-border-color: #fff;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-padding: 5px;
    -jfx-focus-color: white;
}

.combo-box > .list-cell {
    -fx-background: black;
    -fx-background-color: black;
    -fx-text-fill: white;
}

DatePicker {
    -fx-background-color: #000000;
    -fx-text-fill: #fff;
    -fx-font-size: 10px;
    -fx-font-weight: bold;
    -fx-border-color: #fff;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-padding: 5px;
}

.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-background-color: blue;
}

.table-row-cell:odd {
    -fx-background-color: #000;
    -fx-text-fill: #FFF;
    -fx-font-size: 10px;
    -fx-font-weight: bold;

}

.table-row-cell:even {
    -fx-background-color: #111;
    -fx-text-fill: #FFF;
    -fx-font-size: 10px;
    -fx-font-weight: bold;
}

.table-view .table-cell{
    -fx-text-fill: white;
}